#content{}
.page-title {
    font-size: 40px;
    font-weight: bold;
    font-family: initial;
    margin-top: 0px;
}
.post-container {
    margin-top: -143px;
}
.post-item{}
.post-title{}
.post-title a {
    font-size: 26px;
    font-weight: bold;
}
.post-summary {
    font-size: 19px;
    color: #4c4c4c;
    font-size: 17px;
    font-weight: bold;
    font-family: initial;
}
.post-info{}
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.